<h1> <%= @team.name %> </h1>
<p> Manager: <%= link_to @team.user.name, user_path(@team.user) %> </p>
<p> Colors: <%= @team.primary_color + " & " + @team.secondary_color %> </p>

<h3> Roster: </h3>
<% @players.each do |team_player| %>
    <li> <%= link_to team_player.player.name, team_player_path(team_player) %> </li>
<% end %><br>

<% if @team.players.count < 12 %>
    <p><%= link_to "Add a player to your team", new_team_player_path %> </>
<% end %>