<br><h1 class="text-center"> <%= @league.name %> </h1><br>

<h3 class="text-center"> Teams (<%= @league.users.count %>/20) </h3>
<ul class="list-group">
    <% @league.users.each do |user| %>
        <li class="list-group-item text-center"> <%= link_to user.team.name, team_path(user.team) %> </li>
    <% end %>
</ul><br>

<p class="text-center"> <%= link_to "All Leagues", leagues_path %> <p>

<p class="text-center"> <%= link_to "Update league", edit_league_path(@league) %> </p>

