<h1> Join a league </h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p> <%= error %> </p>
    <% end %>
<% end %>

<%= form_for @user_league do |f| %>

    <%= f.hidden_field :user_id, value: @user.id %>

    <%= f.label :league_id %>
    <%= f.collection_select :league_id, @leagues, :id, :name %><br>

    <%= f.submit "Join League" %>
<% end %><br>

<p> <%= link_to "All Leagues", leagues_path %> <p>