<h1> Create a new user </h1>

<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.text_field :password %><br>

    <%= f.label :favorite_club %>
    <%= f.text_field :favorite_club %><br>

    <%= f.submit %>
<% end %><br>

<p> <%= link_to "All Users", users_path %> <p>