<br><h1 class="text-center" > <%= @user.name + "'s Home Page" %> </h1>

<% if @user.team %>
    <h3> My Dream Team: <%= link_to @user.team.name, team_path(@user.team) %> </h3>
<% else %>
    <p> You have not created your dream team yet! <%= link_to "Create your team now", new_team_path %> </p>
<% end %><br>

<h2> About: </h2>
<p> Favorite Club: <%= @user.favorite_club %> </p><br>

<p> <%= link_to "Update your profile", edit_user_path(@user) %> </p>