<h1> Add a player to your team </h1><br>

<%= form_for @team_player do |f| %>

    <%= f.hidden_field :team_id, value: @team.id %>

    <%= f.label :player_id %>
    <%= f.collection_select :player_id, @players, :id, :name %><br>

    <%= f.submit "Add player to team" %>
<% end %>