<h1> <%= @player.name %> </h1>
<h3> Bio: </h3>

<li> Position: <%= @player.position %> </li>
<li> Rating: <%= @player.rating %> </li>
<li> Current Club: <%= @player.club %> </li>
<li> Country: <%= @player.country %> </li>
<li> Age: <%= @player.age %> </li><br>

<p> <%= link_to "All Players", players_path %> <p>